@charset "UTF-8";
body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

a {
  color: #227ce8; }

.header {
  position: top;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 750px;
  font-family: Helvetica, sans-serif; }
  .header h1 {
    color: #000;
	font-weight: 400;
    font-size: 80px; }

.content {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto; }
  .content p {
	font-size: 16px;
	margin-top: 0; }
  .content a {
	text-decoration: none; }
  .content a:hover {
	color: rgb(170,170,170); } 
